<!-- This includes all common lines from the head tags of individual layouts -->

<meta name="viewport" content="width=device-width,initial-scale=1.0">  <!-- To get viewport width -->
<link rel="stylesheet" href="/assets/css/styles.css" type="text/css"/> <!-- The stylesheet -->

<!-- The following lines are to include some Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400&family=Bad+Script&family=Orbitron:wght@900&display=swap" rel="stylesheet"> 

<title>
    {{ page.title }} | {{ site.name }}
</title>

<!-- The following is to include mathjax -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 

<!-- For mailchimp to connect to the site -->
<script id="mcjs">
    !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/ab738371d3286b970989eb690/988b7439910d1982e9fea6efc.js");
</script>