$site-name-color: black;
$site-name-background: rgb(214, 214, 214);
$site-name-shadow-color: rgba(0, 0, 0, 0.603);

$page-title-color: whitesmoke;
$page-title-color-transparent: rgba(245, 245, 245, 0);


$page-subtitle-color: lightgray;
$page-subtitle-color-transparent: rgba(211, 211, 211, 0);

$page-title-background-default: rgb(2, 103, 150);
$page-title-background-about: rgb(0, 100, 0);

$menu-bar-color: black;
$menu-hover-color:  rgb(173, 173, 173);

$dim-gray: dimgray;