@import "colors";

/* A class for the div in which the dropdown menu is placed */
.dropdown-menu{
    position:relative;
    color: inherit;
    background-color: inherit;
}

div .dropdown-menu-bar{
    margin: 0.5vh;
    width: 2vmax;
    height: 0.3vmax;
    background-color: $menu-bar-color;
}

/* div which contains dropdown menu links */
.dropdown-content{
    position: absolute;
    left: auto;
    right: 50%;
    top: 75%;
    bottom: auto;
    display: none;
    background-color: inherit;
    color: inherit;
}

.dropdown-content a{
    background-color: $site-name-background;
    font-size: 1.2vmax;
    display: block;
    padding-left: 2.5vmax;
    padding-right: 2.5vmax;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/* Change color of drop down menu icon upon hover*/
.dropdown-menu:hover{
    background-color: $menu-hover-color;
}



/* Change bgcolor of dropdown menu links upon hover */
.dropdown-content a:hover{
    background-color: $menu-hover-color;
}

/* This hides the checkbox used in the dropdown menu click-hack */
input[type=checkbox]{
    display: none;
}

/* Displays menu upon click using when the hidden checkbox is checked */
input[type=checkbox]:checked ~ .dropdown-menu .dropdown-content{
    display: block;
}

/* Change color of drop down menu icon upon click*/
input[type=checkbox]:checked ~ .dropdown-menu{
    background-color: $menu-hover-color;
}




