/* To be used for the site title, i.e Gaurav Chandan */
.grid-header .site-name{
    font-size: 0.11vw;
}
/* To be used for the page title, i.e About or Welcome or Home, etc */
.grid-header .page-title{
    font-size: 4.5vh;
    font-family: 'Bad Script', cursive; /* The included google font for page title and subtitle */
}

/* To be used for page subtitle, for example a prologue type thingy for blog posts */
.grid-header .page-subtitle{
    margin-left: 5vw;
    margin-right: 5vw;
    word-wrap: break-word;
    font-size: 2vh;
    font-family: 'Bad Script', cursive; /* The included google font for page title and subtitle */
}
