<!DOCTYPE html>
<html>


    <head>
        {% include head-content.html %}

    </head>

    <body class="grid-container">
        <div class="grid-header about">
            <!-- Top bar with site name and menu -->
            <div class="site-name">
                <a href="/index.html"><div>{{ site.name }}</div></a>
                {% include dropdown-menu.html %}
            </div>
            <!-- Section with page title and subtitle -->
            <h1 class="page-title"><center>{{ page.title }}</center></h1>
            <div class="page-subtitle"><center>{{ page.subtitle }}</center></div>
        
        </div>


        <div class="grid-content">
            {{ content }}
        </div>
        
        <footer class="grid-footer">
            <div class="social-media"></div>

        </footer>
    </body>


</html>