<!DOCTYPE html>
<html>


    <head>
        <link rel="stylesheet" href="/assets/css/Gridstyle.css" type="text/css"/>
        

    </head>

    <body class="grid-container">
        <header class="grid-header">
            <h1>{{ page.title }}</h1>
        </header>


        <div class="grid-content">
            {{ content }}
        </div>

        <footer class="grid-footer">
            <h1>This will be a footer</h1>
        </footer>
    </body>


</html>

<!-- The following is to include mathjax -->

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 