<!DOCTYPE html>
<html>


    <head>
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css"/>

        <!-- The following lines are to include some Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Permanent+Marker&display=swap" rel="stylesheet"> 
        

    </head>

    <body class="grid-container">
        <div class="grid-header">
            <div class="site-name">{{ site.name }}</div>
            <h1 class="page-title"><center>{{ page.title }}</center></h1>
            <div class="page-subtitle"><center>{{ page.subtitle }}</center></div>
        </div>


        <div class="grid-content">
            {{ content }}
        </div>

        <footer class="grid-footer">
            <h1>This will be a footer</h1>
        </footer>
    </body>


</html>

<!-- The following is to include mathjax -->

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 