<!DOCTYPE html>
<html>


    <head>
        {% include head-content.html %}
    </head>

    <body class="grid-container">
        <div class="grid-header default">
            <!-- Top bar with site name and menu -->
            <div class="site-name">
                <a href="/index.html"><div>{{ site.name }}</div></a>
                {% include dropdown-menu.html %}
            </div>
            <!-- Section with page title and subtitle -->
            <h1 class="page-title"><center>{{ page.title }}</center></h1>
            <div class="page-subtitle"><center>{{ page.subtitle }}</center></div>
        
        </div>

        <div class="grid-content post">
            <br><div class="posting-date"><i>Posted on {{ page.posting-date }}<br><br>Tags: {{ page.tags | join: ', ' }}</i></div><br><br>
            <center><div class="cover-image">
                <img src={{ page.cover-image }} alt="Loading...">
                <div class="image-credit"><center>Image credit: {{ page.image-credit }}</center></div>
            </div></center><br>
            {{ content }}
        </div>
        
        <footer class="grid-footer">
            <h1>This will be a footer</h1>
        </footer>
    </body>


</html>