<!DOCTYPE html>
<html>


    <head>
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css"/>

        <!-- The following lines are to include some Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Orbitron:wght@900&display=swap" rel="stylesheet"> 
        
        <title>
            {{ page.title }} | {{ site.name }}
        </title>

    </head>

    <body class="grid-container">
        <div class="grid-header default">
            <!-- Top bar with site name and menu -->
            <div class="site-name">
                <a href="/index.html"><div>{{ site.name }}</div></a>
                {% include dropdown-menu.html %}
            </div>
            <!-- Section with page title and subtitle -->
            <h1 class="page-title"><center>{{ page.title }}</center></h1>
            <div class="page-subtitle"><center>{{ page.subtitle }}</center></div>
        
        </div>

        <div class="grid-content post">
            <br><div class="posting-date"><i>Posted on {{ page.posting-date }}<br>Tags: {{ page.tags }}</i></div><br><br>
            <div class="cover-image"><img src={{ page.cover-image }} alt="Loading..."></div>
            <div class="image-credit"><center>Image credit: {{ page.image-credit }}</center></div>
            {{ content }}
        </div>

        <footer class="grid-footer">
            <h1>This will be a footer</h1>
        </footer>
    </body>


</html>

<!-- The following is to include mathjax -->

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 